<div class="col-sm-12 text-center">
    <div class="error-container">
        <div class="error-code">404</div>
        <div class="error-text">Página em construção</div>
        <div class="error-subtext">Essa página ainda está sendo implementada.</div>
        <div class="error-actions">
            <div class="row">
                <div class="col-sm-12">
                    <a class="btn btn-info btn-block btn-lg" ui-sref="kanleitos">Voltar para Página Inicial</a>
                </div>
            </div>
        </div>
    </div>
</div>