<div class="fixed-nav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-kan fixed-top" id="mainNav">
        <div class="bg-white text-center navbar-brand-wrapper">
            <a class="kan-brand sidebarLogo" ui-sref="kanleitos">
                <img id="kan-logo" src="img/logo-black.png">
            </a>
            <a class="kan-brand sidebarLogoMini" ui-sref="kanleitos">
                <img id="kan-logo" src="img/logo-black-mini.png">
            </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
            <button class="navbar-toggler d-lg-block border-0 p-0" id="sidenavToggler" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <button class="navbar-toggler ml-auto border-0" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav ml-auto" id="navbarLinkSair">
                <li class="nav-item">
                    <a class="nav-link text-light" data-toggle="modal" data-target="#sairAppModal">
                        <i class="fa fa-fw fa-sign-out"></i>
                        Sair</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!-- MENU NAV-->
<nav class="sidebar navbar-expand-lg navbar-white bg-white" id="mainNav">
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="sideNavResponsive">
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" data-target="#internacao-subitens" aria-expanded="false" aria-controls="internacao-subitens"
                    data-toggle="tooltip" data-placement="right" title="Internação">
                    <img class="menu-icon" src="img/pedido.png" alt="Internação">
                    <span class="menu-title ml-2">Internação</span>
                    <i class="fa fa-caret-down ml-auto mr-2" aria-hidden="true"></i>
                </a>
                <div class="collapse" id="internacao-subitens">
                    <ul class="nav flex-column pl-5">
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Pedir Internação">
                            <a class="nav-link" ui-sref="pedidoInternacao">
                                <span class="nav-link-text">
                                    Pedir Internação
                                </span>
                            </a>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Registrar Internação">
                            <a class="nav-link" ui-sref="registroInternacao">
                                <span class="nav-link-text">
                                    Registrar Internação
                                </span>
                            </a>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Finalizar Internação">
                            <a class="nav-link" ui-sref="finalizacaoInternacao">
                                <span class="nav-link-text">
                                    Finalizar Internação
                                </span>
                            </a>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Pedidos de Internação em Aberto">
                            <a class="nav-link" ui-sref="pedidosInternacao">
                                <span class="nav-link-text">
                                    Lista de Pedidos de Internação
                                </span>
                            </a>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Relatório Registro de Todas Internações">
                            <a class="nav-link" ui-sref="registrosInternacao">
                                <span class="nav-link-text">Lista de Registros de Internação</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Reltório de Leitos">
                <a class="nav-link" ui-sref="leitos">
                    <img src="img/leito.png" alt="">
                    <span class="nav-link-text">Status dos Leitos</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" data-target="#geral-subitens" aria-expanded="false" aria-controls="geral-subitens"
                    data-toggle="tooltip" data-placement="right" title="Cadastro Gerais">
                    <img class="menu-icon" src="img/config.png" alt="Cadastro Gerais">
                    <span class="menu-title ml-2">Cadastros Gerais</span>
                    <i class="fa fa-caret-down ml-auto mr-2" aria-hidden="true"></i>
                </a>
                <div class="collapse" id="geral-subitens">
                    <ul class="nav flex-column pl-5">
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Hospitais">
                            <a class="nav-link" ui-sref="hospitais">
                                <span class="nav-link-text">
                                    Hospitais
                                </span>
                            </a>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Isolamentos">
                            <a class="nav-link" ui-sref="tiposIsolamentos">
                                <span class="nav-link-text">
                                    Tipos de Isolamentos
                                </span>
                            </a>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tipos de Pendências">
                            <a class="nav-link" ui-sref="tiposPendencias">
                                <span class="nav-link-text">
                                    Tipos de Pendências
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>