<div ng-controller="CadastroHospitalController">
    <div class="kan-row-modal">
        <!-- PACIENTE -->
        <fieldset class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 kan-group">
            <h5 class="kan-title">Cadastrar Hospital
                <i class="fa fa-info fa-1-x kan-icon-info" data-toggle="tooltip" data-placement="bottom" title="Tela para cadastrar um novo hospital"></i>
            </h5>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 kan-group">
                <label>Nome Hospital
                    <b class="text-danger">*</b>
                </label>
                <input class="form-control form-control-sm" type="text" placeholder="Informe o nome do hospital" ng-model="hospital.nome">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 kan-group">
                <label>Telefone
                </label>
                <input class="form-control form-control-sm" type="number" placeholder="Informe o telefone com ddd" ng-model="hospital.telefone">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 kan-group">
                <label>Cep
                </label>
                <input class="form-control form-control-sm" type="number" ng-maxlength="8" placeholder="Informe o cep" ng-model="enderecoSeparado.cep">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 kan-group">
                <label>Tipo de Logradouro
                </label>
                <select class="form-control form-control-sm" placeholder="Tipo de Logradouro" ng-model="enderecoSeparado.tipoLogradouro">
                    <option value="">Selecione</option>
                    <option value="Aeroporto">Aeroporto</option>
                    <option value="Alameda">Alameda</option>
                    <option value="Apartamento">Apartamento</option>
                    <option value="Avenida">Avenida</option>
                    <option value="Beco">Beco</option>
                    <option value="Bloco">Bloco</option>
                    <option value="Caminho">Caminho</option>
                    <option value="Escadinha">Escadinha</option>
                    <option value="Estação">Estação</option>
                    <option value="Estrada">Estrada</option>
                    <option value="Fazenda">Fazenda</option>
                    <option value="Fortaleza">Fortaleza</option>
                    <option value="Galeria">Galeria</option>
                    <option value="Ladeira">Ladeira</option>
                    <option value="Largo">Largo</option>
                    <option value="Parque">Parque</option>
                    <option value="Praça">Praça</option>
                    <option value="Praia">Praia</option>
                    <option value="Quadra">Quadra</option>
                    <option value="Quilômetro">Quilômetro</option>
                    <option value="Quinta">Quinta</option>
                    <option value="Rodovia">Rodovia</option>
                    <option value="Rua">Rua</option>
                    <option value="Super Quadra">Super Quadra</option>
                    <option value="Travessa">Travessa</option>
                    <option value="Viaduto">Viaduto</option>
                    <option value="Vila">Vila</option>
                </select>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 kan-group">
                <label>Logradouro
                </label>
                <input class="form-control form-control-sm" type="text" placeholder="Informe a rua" ng-model="enderecoSeparado.rua">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 kan-group">
                <label>Número
                </label>
                <input class="form-control form-control-sm" type="number" placeholder="Informe o nº" ng-model="enderecoSeparado.numero">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 kan-group">
                <label>Bairro
                </label>
                <input class="form-control form-control-sm" type="text" placeholder="Informe o bairro" ng-model="enderecoSeparado.bairro">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 kan-group">
                <label>Estado
                </label>
                <select class="form-control form-control-sm" ng-model="enderecoSeparado.estado">
                    <option value="">Selecione</option>
                    <option value="AC">AC</option>
                    <option value="AL">AL</option>
                    <option value="AM">AM</option>
                    <option value="AP">AP</option>
                    <option value="BA">BA</option>
                    <option value="CE">CE</option>
                    <option value="DF">DF</option>
                    <option value="ES">ES</option>
                    <option value="GO">GO</option>
                    <option value="MA">MA</option>
                    <option value="MG">MG</option>
                    <option value="MS">MS</option>
                    <option value="MT">MT</option>
                    <option value="PA">PA</option>
                    <option value="PB">PB</option>
                    <option value="PE">PE</option>
                    <option value="PI">PI</option>
                    <option value="PR">PR</option>
                    <option value="RJ">RJ</option>
                    <option value="RN">RN</option>
                    <option value="RS">RS</option>
                    <option value="RO">RO</option>
                    <option value="RR">RR</option>
                    <option value="SC">SC</option>
                    <option value="SE">SE</option>
                    <option value="SP">SP</option>
                    <option value="TO">TO</option>
                </select>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 kan-group">
                <label>Cidade
                </label>
                <input class="form-control form-control-sm" type="text" placeholder="Informe a cidade" ng-model="enderecoSeparado.cidade">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 kan-group">
                <label>Especialidade
                </label>
                <textarea rows="3" class="form-control form-control-sm" placeholder="Informe a especialidade" ng-model="hospital.especialidade"></textarea>
            </div>
        </fieldset>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 button-kan-row">
            <button type="button" class="btn kan-btn-danger" ng-click="closeThisDialog(false)">Cancelar</button>
            <button type="button" class="btn kan-btn-success" ng-click="cadastrarHospital()">Cadastrar Hospital</button>
        </div>
    </div>
</div>