<div ng-controller="CadastroIsolamentoController">
    <div class="kan-row-modal">
        <!-- PACIENTE -->
        <fieldset class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 kan-group">
            <h5 class="kan-title">{{title}}
                <i class="fa fa-info fa-1-x kan-icon-info" data-toggle="tooltip" data-placement="bottom" title="Tela para cadastrar tipo de isolamento"></i>
            </h5>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 kan-group">
                <label>Nome do Tipo de Isolamento
                    <b class="text-danger">*</b>
                </label>
                <input class="form-control form-control-sm" type="text" placeholder="Informe o nome do tipo de isolamento" ng-model="isolamento.nome">
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 kan-group">
                <label>Status do Leito após internação do paciente
                </label>
                <select class="form-control form-control-sm" ng-model="isolamento.statusLeito">
                    <option value="">Selecione</option>
                    <option value="DESOCUPADO">Desocupado</option>
                    <option value="OCUPADO_COMUM">Ocupado comum</option>
                    <option value="OCUPADO_ISOLAMENTO_RESPIRATORIO">Ocupado isolamento respiratório</option>
                    <option value="OCUPADO_PRECAUCAO_CONTATO">Ocupado precaução de contato</option>
                    <option value="BLOQUEADO_REFORMA">Bloqueado para reforma</option>
                    <option value="BLOQUEADO_RH">Bloqueado RH</option>
                    <option value="AGUARDANDO_LIMPEZA">Aguardando Limpeza</option>
                </select>
            </div>

        </fieldset>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 button-kan-row">
            <button type="button" class="btn kan-btn-danger" ng-click="closeThisDialog(false)">Cancelar</button>
            <button type="button" class="btn kan-btn-success" ng-click="cadastrarIsolamento()">Salvar Isolamento</button>
        </div>
    </div>
</div>