<div ng-controller="EnfermariasController" ng-init="carregarEnfermarias()">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <span>Cadastros Gerais</span>
        </li>
        <li class="breadcrumb-item active">
            <span>Enfermarias</span>
        </li>
    </ol>

    <div class="kan-row">
        <fieldset class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 kan-group">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 kan-group">
                <h5 class="kan-title">Enfermarias Cadastradas
                    <i class="fa fa-info fa-1-x kan-icon-success" data-toggle="tooltip" data-placement="bottom" title="Aqui você visualizará as enfermarias já cadastrados no sistema e poderá adicionar ou editá-las.">
                    </i>
                </h5>
                <div class="col-lg-12 kan-group">
                    <label class="mr-2">
                        <strong>Legenda das ações: </strong>
                    </label>
                    <p class="d-inline-block mr-4">
                        <i class="fa fa-ban info text-danger"></i>
                        <span>
                            Inativar enfermaria
                        </span>
                    </p>
                    <p class="d-inline-block mr-4">
                        <i class="fa fa-check info text-success"></i>
                        <span>
                            Ativar enfermaria
                        </span>
                    </p>
                </div>
                <div class="col-lg-12 kan-group">
                    <input id="search" class="col-lg-6 form-control form-control-sm d-inline-block" type="text" ng-model="search" placeholder="Digite para pesquisar">
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-sm">
                    <thead>
                        <tr>
                            <th class="text-center">Ala</th>
                            <th class="text-center">Nome Enfermaria</th>
                            <th class="text-center">Gênero</th>
                            <th class="text-center">Inativo</th>
                            <th class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ala in listaAlas  | filter : search | orderBy: 'nome'">
                            <td class="text-capitalize" title="{{ala.nome}}">{{ala.nome}}</td>
                            <td class="text-capitalize" title="{{enfermaria.nome}}">{{enfermaria.nome}}</td>
                            <td class="text-capitalize" title="{{genero.nome}}">{{genero.nome}}</td>
                            <td class="text-center">
                                <span ng-show="ala.inativo">Sim</span>
                                <span ng-show="!ala.inativo">Não</span>
                            </td>
                            <td class="text-center">
                                <i ng-show="!ala.inativo" class="fa fa-ban text-danger" aria-hidden="true" title="Inativar ala" ng-click="alterarStatus(ala, 'inativar')"></i>
                                <i ng-show="ala.inativo" class="fa fa-check text-success" aria-hidden="true" title="Ativar ala" ng-click="alterarStatus(ala, 'ativar')"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>