<div ng-controller="HospitaisController" ng-init="carregarHospitais()">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <span>Cadastros Gerais</span>
        </li>
        <li class="breadcrumb-item active">
            <span>Hospitais</span>
        </li>
    </ol>

    <div class="kan-row">
        <fieldset class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 kan-group">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 kan-group">
                <h5 class="kan-title">Hospitais Cadastrados
                    <i class="fa fa-info fa-1-x kan-icon-success" data-toggle="tooltip" data-placement="bottom" title="Aqui você visualizará os hospitais já cadastrados no sistema e poderá adicionar ou editá-los. 
                        Eles poderão ser utilizados para registrar para qual hospital o paciente foi direcionado, em caso de alta por transferência.">
                    </i>
                </h5>
                <div class="col-lg-12 kan-group">
                    <label class="mr-2">
                        <strong>Legenda das ações: </strong>
                    </label>
                    <p class="d-inline-block mr-4">
                        <i class="fa fa-pencil info text-primary"></i>
                        <span>
                            Editar hospital
                        </span>
                    </p>

                    <p class="d-inline-block mr-4">
                        <i class="fa fa-ban info text-danger"></i>
                        <span>
                            Inativar hospital
                        </span>
                    </p>
                    <p class="d-inline-block mr-4">
                        <i class="fa fa-check info text-success"></i>
                        <span>
                            Ativar hospital
                        </span>
                    </p>
                </div>
                <div class="col-lg-12 kan-group">
                    <button class="btn kan-btn-success d-inline-block mr-4" ng-click="openModalCadastroHospital(null)">
                        <i class="fa fa-plus fa-1-x kan-icon-success text-light p-0" data-toggle="tooltip" data-placement="bottom" title="Cadastrar novo hospital."></i>
                        Cadastrar Hospital
                    </button>
                    <input id="search" class="col-lg-6 form-control form-control-sm d-inline-block" type="text" ng-model="search" placeholder="Digite para pesquisar">
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-sm">
                    <thead>
                        <tr>
                            <th class="text-center">Nome Hospital</th>
                            <th class="text-center">Endereço Completo</th>
                            <th class="text-center">Telefone</th>
                            <th class="text-center">Especialidade</th>
                            <th class="text-center">Inativo</th>
                            <th class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="hospital in listaHospitais  | filter : search | orderBy: 'nome'">
                            <td title="{{hospital.nome}}">{{hospital.nome}}</td>
                            <td title="{{hospital.endereco}}">{{hospital.endereco}}</td>
                            <td class="text-center" title="{{hospital.telefone}}">{{hospital.telefone}}</td>
                            <td title="{{hospital.especialidade}}">{{hospital.especialidade}}</td>
                            <td class="text-center">
                                <span ng-show="hospital.inativo">Sim</span>
                                <span ng-show="!hospital.inativo">Não</span>
                            </td>
                            <td class="text-center">
                                <i class="fa fa-pencil text-primary" aria-hidden="true" title="Editar dados do hospital" ng-click="openModalCadastroHospital(hospital)"></i>
                                <i ng-show="!hospital.inativo" class="fa fa-ban text-danger" aria-hidden="true" title="Inativar hospital" ng-click="inativarHospital(hospital)"></i>
                                <i ng-show="hospital.inativo" class="fa fa-check text-success" aria-hidden="true" title="Ativar hospital" ng-click="ativarHospital(hospital)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>