<div ng-controller="HospitaisController" ng-init="carregarHospitais()">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <span>Cadastros Gerais</span>
        </li>
        <li class="breadcrumb-item active">
            <span>Hospitais</span>
        </li>
    </ol>

    <div class="kan-row">
        <fieldset class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 kan-group">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 kan-group">
                <h5 class="kan-title">Hospitais Cadastrados
                    <i class="fa fa-info fa-1-x kan-icon-success" data-toggle="tooltip" data-placement="bottom" title="Aqui você visualizará os hospitais já cadastrados no sistema e poderá adicionar ou editá-los. 
                        Eles poderão ser utilizados para registrar para qual hospital o paciente foi direcionado, em caso de alta por transferência.">
                    </i>
                </h5>
                <button class="btn kan-btn-success mb-2" ng-click="openModalCadastroHospital()">
                    <i class="fa fa-plus fa-1-x kan-icon-success text-light p-0"  data-toggle="tooltip" data-placement="bottom"
                        title="Cadastrar novo hospital."></i>
                    Cadastrar Hospital </button>
                <input id="search" class="col-md-6 form-control form-control-sm" type="text" ng-model="search" placeholder="Digite para pesquisar">
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-sm">
                    <thead>
                        <tr>
                            <th class="text-center">Nome Hospital</th>
                            <th class="text-center">Endereço Completo</th>
                            <th class="text-center">Telefone</th>
                            <th class="text-center">Especialidade</th>
                            <th class="text-center">Inativo</th>
                            <th class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="hospital in listaHospitais  | filter : search | orderBy: 'nome'">
                            <td title="{{hospital.nome}}">{{hospital.nome}}</td>
                            <td title="{{hospital.endereco}}">{{hospital.endereco}}</td>
                            <td class="text-center" title="{{hospital.telefone}}">{{hospital.telefone}}</td>
                            <td title="{{hospital.especialidade}}">{{hospital.especialidade}}</td>
                            <td class="text-center">
                                <span ng-show="hospital.inativo">Sim</span>
                                <span ng-show="!hospital.inativo">Não</span>
                            </td>
                            <td class="text-center">
                                <i class="fa fa-pencil text-primary m-1" aria-hidden="true" title="Atualizar dados do hospital" ng-click="updateHospital(hospital)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>