<div ng-controller="pedidoInternacaoController">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <span>Internação</span>
        </li>
        <li class="breadcrumb-item active">
            <span> Pedido de Internação</span>
        </li>
    </ol>

    <div class="kan-row">
        <!-- PACIENTE -->
        <fieldset class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 kan-group p-2">
            <h5 class="kan-title">Paciente
                <i class="fa fa-plus fa-1-x kan-icon-success" ng-click="openModalCadastro()" data-toggle="tooltip" data-placement="bottom"
                    title="Cadastrar novo paciente."></i>
                <i class="fa fa-search fa-1-x kan-icon-success" ng-click="openModalPesquisa()" data-toggle="tooltip" data-placement="bottom"
                    title="Selecionar um paciente.">
                </i>
            </h5>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-4 kan-group">
                <label for="numProntuario">Prontuário
                    <b class="text-danger">*</b>
                </label>
                <input class="form-control form-control-sm" type="number" placeholder="Informe o prontuário" ng-change="GetPaciente()" ng-model="pedidoInternacao.paciente.numProntuario">
            </div>

            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-8 kan-group">
                <label for="nomePaciente">Nome do Paciente
                    <b class="text-danger">*</b>
                </label>
                <input disabled class="form-control form-control-sm" type="text" ng-model="pedidoInternacao.paciente.nomePaciente">
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  kan-group">
                <label>Data de nascimento
                    <b class="text-danger">*</b>
                </label>
                <input disabled class="form-control form-control-sm" type="date" ng-model="pedidoInternacao.paciente.dataNascimento" ng-change=" calcularIdade()"
                    value="">
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 kan-group">
                <label for="idade">Idade
                    <b class="text-danger">*</b>
                </label>
                <input disabled type="text" ng-model="pedidoInternacao.paciente.idade" class="form-control form-control-sm">
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 kan-group">
                <label for="nomeMae">Nome da Mãe
                    <b class="text-danger">*</b>
                </label>
                <input disabled class="form-control form-control-sm" type="text" ng-model="pedidoInternacao.paciente.nomeMae">
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 kan-group">
                <label>Sexo</label>
                <b class="text-danger">*</b>
                <span class="clearfix"></span>
                <label class="col-lg-5 col-xl-5 custom-control custom-radio">
                    <input disabled id="feminino" name="genero" type="radio" class="custom-control-input ml-4 ng-pristine ng-untouched ng-valid ng-empty"
                        ng-model="pedidoInternacao.paciente.genero" ng-value="'Masculino'" value="Masculino">
                    <span class="custom-control-indicator p-3"></span>
                    <span for="feminino" class="custom-control-description ml-4 mt-2">Masculino</span>
                </label>

                <label class="col-lg-5 col-xl-5 custom-control custom-radio">
                    <input disabled id="masculino" name="genero" type="radio" class="custom-control-input ml-4 ng-pristine ng-untouched ng-valid ng-empty"
                        ng-model="pedidoInternacao.paciente.genero" ng-value="'Feminino'" value="Feminino">
                    <span class="custom-control-indicator p-3"></span>
                    <span for="masculino" class="custom-control-description ml-4 mt-2">Feminino</span>
                </label>
            </div>

        </fieldset>
        <!-- PEDIDO INTERNACAO -->
        <fieldset class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 kan-group ">
            <h5 class="  kan-title">Pedido Internação
                <i class="fa fa-info fa-1-x kan-icon-info" data-toggle="tooltip" data-placement="bottom" title="Dados do pedido de internação do paciente."></i>
            </h5>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 kan-group">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" ng-model="pedidoInternacao.precisaIsolamento" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Precisa de isolamento</span>
                </label>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 kan-group" ng-hide="!pedidoInternacao.precisaIsolamento">
                    <label>Isolamento
                        <b class="text-danger">*</b>
                    </label>
                    <select ng-model="pedidoInternacao.idIsolamento" class="form-control form-control-sm">
                        <option value="">Selecione o Isolamento</option>
                        <option ng-repeat="isolamento in Isolamentos" value="{{isolamento.idIsolamento}}">{{isolamento.nome}}</option>
                    </select>
                </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-4 kan-group">
                <label for="aih">AIH
                    <b class="text-danger">*</b>
                </label>
                <input class="form-control form-control-sm" type="number" placeholder="Informe a AIH" ng-model="pedidoInternacao.aih">
            </div>
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-8 kan-group">
                <label>Ala
                    <b class="text-danger">*</b>
                </label>
                <select ng-model="pedidoInternacao.idAla" class="form-control form-control-sm">
                    <option value="">Selecione a Ala</option>
                    <option ng-repeat="ala in Alas" value="{{ala.idAla}}">{{ala.nomeAla}}</option>
                </select>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 kan-group">
                <label>Diagnóstico
                    <b class="text-danger">*</b>
                </label>
                <select class="form-control form-control-sm" ng-model="pedidoInternacao.idDiagnostico">
                    <option value="">Selecione o diagnóstico </option>
                    <option ng-repeat="diagnostico in Diagnosticos" value="{{diagnostico.idDiagnostico}}">{{diagnostico.descricaoDiagnostico}}</option>
                </select>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 kan-group">
                <label>Data de admissão
                    <b class="text-danger">*</b>
                </label>
                <input class="form-control form-control-sm" type="date" ng-model="pedidoInternacao.dataAdmissao">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 kan-group">
                <label>Médico Responsável
                    <b class="text-danger">*</b>
                </label>
                <input type="text" class="form-control form-control-sm" placeholder="Informe o nome do(a) médico(a) responsável" ng-model="pedidoInternacao.medicoResponsavel">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 kan-group">
                <label>Residente Responsável
                    <b class="text-danger">*</b>
                </label>
                <input type="text" class="form-control form-control-sm" placeholder="Informe o nome do(a) residente responsável" ng-model="pedidoInternacao.residenteResponsavel">
            </div>
        </fieldset>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 button-kan-row">
            <button class="btn kan-btn-success" ng-click="salvarPedidoInternacao()">Pedir Internação </button>
        </div>
    </div>
</div>