<div ng-controller="registroInternacaoController">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <span>Internação</span>
        </li>
        <li class="breadcrumb-item active">
            <span>Registrar Internação </span>
        </li>
    </ol>

    <div class="kan-row">
        <!-- PEDIDO INTERNACAO -->
        <fieldset class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 kan-group pr-2">
            <h5 class="kan-title">Pedido de Internação
                <i class="fa fa-info fa-1-x kan-icon-info" data-toggle="tooltip" data-placement="bottom" title="Para carregar os dados do pedido de internação basta informar o prontuário 
                    do paciente que deseja internar ou selecionar um pedido de internação da lista que aparecerá quando clicar no ícone da lupa.">
                </i>
                <i class="fa fa-search fa-1-x kan-icon-success" ng-click="openModalPesquisaPedidoInternacao()" data-toggle="tooltip" data-placement="bottom"
                    title="Clique sobre a lupa para visualizar a lista de pedidos de internações em aberto. Na lista você terá opção para escolher
                    um pedido para carregar os dados abaixo. ">
                </i>
            </h5>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 kan-group">
                <label for="numProntuario">Prontuário
                    <b class="text-danger">*</b>
                </label>
                <input class="form-control form-control-sm" type="number" placeholder="Informe o prontuário" ng-model="registroInternacao.pedidoInternacao.paciente.numProntuario"
                    ng-change="GetPedido()" />
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 kan-group">
                <label for="aih">AIH
                    <b class="text-danger">*</b>
                </label>
                <input disabled class="form-control form-control-sm" type="number" ng-model="registroInternacao.pedidoInternacao.aih">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 kan-group">
                <label>Ala
                    <b class="text-danger">*</b>
                </label>
                <input disabled class="form-control form-control-sm" type="text" ng-model="registroInternacao.pedidoInternacao.ala.nomeAla">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 kan-group">
                <label>Data de admissão
                    <b class="text-danger">*</b>
                </label>
                <input disabled class="form-control form-control-sm" type="date" ng-model="registroInternacao.pedidoInternacao.dataAdmissao">
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 kan-group">
                <label>Diagnóstico
                    <b class="text-danger">*</b>
                </label>
                <input disabled class="form-control form-control-sm" type="text" ng-model="registroInternacao.pedidoInternacao.diagnostico.descricaoDiagnostico">
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 kan-group">
                <label for="nomePaciente">Nome do Paciente
                    <b class="text-danger">*</b>
                </label>
                <input disabled class="form-control form-control-sm" type="text" ng-model="registroInternacao.pedidoInternacao.paciente.nomePaciente">
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 kan-group">
                <label for="nomeMae">Nome da Mãe
                    <b class="text-danger">*</b>
                </label>
                <input disabled class="form-control form-control-sm" type="text" ng-model="registroInternacao.pedidoInternacao.paciente.nomeMae">
            </div>

            <div ng-hide="true" class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 kan-group">
                <label>Data de nascimento:
                    <b class="text-danger">*</b>
                </label>
                <input disabled class="form-control form-control-sm" type="date" ng-model="registroInternacao.pedidoInternacao.paciente.dataNascimento" ng-change="paciente.idade = calcularIdade(paciente.nascimento)">
            </div>

            <div class="col-12 col-sm-12 col-md-5 col-lg-6 col-xl-6 kan-group">
                <label for="idade">Idade
                    <b class="text-danger">*</b>
                </label>
                <input disabled type="text" ng-model="registroInternacao.pedidoInternacao.paciente.idade" class="form-control form-control-sm">
            </div>
            <div class="col-12 col-sm-12 col-md-7 col-lg-6 col-xl-6 kan-group">
                <label>Sexo</label>
                <b class="text-danger">*</b>
                <span class="clearfix"></span>
                <label class="custom-control custom-radio">
                    <input disabled id="feminino" name="genero" type="radio" class="custom-control-input ml-4 ng-pristine ng-untouched ng-valid ng-empty"
                        ng-model="registroInternacao.pedidoInternacao.paciente.genero" ng-value="'Masculino'" value="Masculino">
                    <span class="custom-control-indicator p-3"></span>
                    <span for="feminino" class="custom-control-description ml-4 mt-2">Masculino</span>
                </label>

                <label class="custom-control custom-radio">
                    <input disabled id="masculino" name="genero" type="radio" class="custom-control-input ml-4 ng-pristine ng-untouched ng-valid ng-empty"
                        ng-model="registroInternacao.pedidoInternacao.paciente.genero" ng-value="'Feminino'" value="Feminino">
                    <span class="custom-control-indicator p-3"></span>
                    <span for="masculino" class="custom-control-description ml-4 mt-2">Feminino</span>
                </label>
            </div>
        </fieldset>

        <!-- REGISTRO DE INTERNAÇÃO -->
        <fieldset class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 kan-group">
            <h5 class="kan-title">Registro de Internação
                <i class="fa fa-info fa-1-x kan-icon-info" data-toggle="tooltip" data-placement="bottom" title="No dados do registro você escolherá a enfermaria e o 
                    leito que o paciente será direcionado. Caso deseja pode alterar a data de internação, previsão de alta e os responsáveis pelo paciente.">
                </i>
            </h5>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 kan-group">
                <label for="Status">Enfermaria
                    <b class="text-danger">*</b>
                </label>
                <select ng-disabled="registroInternacao.pedidoInternacao.ala.idAla < 0" ng-model="registroInternacao.idEnfermaria" class="form-control form-control-sm"
                    ng-change="carregarLeitosEnfermaria(registroInternacao.idEnfermaria)">
                    <option value="">Selecione a enfermaria</option>
                    <option ng-repeat="enfermaria in Enfermarias" value="{{enfermaria.idEnfermaria}}">{{enfermaria.nomeEnfermaria}}</option>
                </select>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 kan-group">
                <label for="numProntuario">Leito
                    <b class="text-danger">*</b>
                </label>
                <select ng-disabled="Leitos == undefined" ng-model="registroInternacao.idLeito" class="form-control form-control-sm">
                    <option value="">Selecione o leito</option>
                    <option ng-repeat="leito in Leitos" value="{{leito.idLeito}}">{{leito.nomeLeito + " " + leito.generoLeito.substr(0,3) + "."}}</option>
                </select>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 kan-group">
                <label>Data de internação
                    <b class="text-danger">*</b>
                </label>
                <input class="form-control form-control-sm" type="date" ng-model="registroInternacao.dataInternacao">
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 kan-group">
                <label>Previsão de alta
                    <b class="text-danger">*</b>
                </label>
                <input class="form-control form-control-sm" type="date" ng-model="registroInternacao.previsaoAlta">
            </div>
        </fieldset>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 button-kan-row">
            <button class="btn kan-btn-success" ng-click="salvarRegistroInternacao()">Registrar Internação </button>
        </div>
    </div>
</div>