<div ng-controller="ModalPesquisaPedidoInternacaoController" ng-init="carregarPedidos()">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <span>Relatórios</span>
        </li>
        <li class="breadcrumb-item active">
            <span> Todas Internações</span>
        </li>
    </ol>

    <div class="kan-row">
        <fieldset class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 kan-group">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 kan-group">
                <h5 class="kan-title">Todas as Internações
                    <i class="fa fa-info fa-1-x kan-icon-success" data-toggle="tooltip" data-placement="bottom" title="Aqui você visualizará o registro de todas as internações, 
                    os que estão destacados de vermelho já ultrapassou 24 horas desde o horário da admissão registrada. 
                    No campo abaixo você consegue filtrar alguma informação na lista.">
                    </i>
                </h5>
                <p class="d-inline-block mr-4">
                    <i class="fa fa-circle fa-1-x text-success"></i>
                    <span>Aberto há
                        <strong>menos de 12 horas</strong>
                    </span>
                </p>

                <p class="d-inline-block mr-4">
                    <i class="fa fa-circle fa-1-x text-warning"></i>
                    <span>Aberto há
                        <strong>mais de 12 horas</strong>
                    </span>
                </p>
                <p class="d-inline-block mr-4">
                    <i class="fa fa-circle fa-1-x text-danger"></i>
                    <span>Aberto há
                        <strong>mais de 24 horas</strong>
                    </span>
                </p>
                <div class="col-lg-12 kan-group">
                    <input id="search" class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 kan-group form-control form-control-sm" type="text"
                        ng-model="searchAla" placeholder="Ala">
                    <input id="search" class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 kan-group form-control form-control-sm" type="text"
                        ng-model="searchDiagnostico" placeholder="Diagnóstico">
                    <input id="search" class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 kan-group form-control form-control-sm" type="text"
                        ng-model="searchPaciente" placeholder="Nome do Paciente">
                    <input id="search" class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 kan-group form-control form-control-sm" type="text"
                        ng-model="searchAdmissao" placeholder="Data de Admissão">
                    <select id="search" class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 kan-group form-control form-control-sm" type="text"
                        ng-model="searchTempoEspera" placeholder="Tempo de Espera">
                        <option value="">Selecione</option>
                        <option value="menos12">Menos de 12 horas</option>
                        <option value="mais12">Mais de 12 horas</option>
                        <option value="mais24">Mais de 24 horas</option>
                    </select>
                    <button class="btn kan-btn-success">
                        <i class="fa fa-search fa-1-x kan-icon-success text-light p-0" data-toggle="tooltip" data-placement="bottom" title="Filtrar pesquisa."></i>
                        Filtrar pesquisa
                    </button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-sm">
                    <thead>
                        <tr>
                            <th class="text-center">Ala</th>
                            <th class="text-center">Médico</th>
                            <th class="text-center">Residente</th>
                            <th class="text-center">Prev. Alta</th>
                            <th class="text-center">Leito</th>
                            <th class="text-center">Prontuário</th>
                            <th class="text-center">Nome</th>
                            <th class="text-center">Data Nasc</th>
                            <th class="text-center">Idade</th>
                            <th class="text-center">Sexo</th>
                            <th class="text-center">Admissão</th>
                            <th class="text-center">Dias Internados</th>
                            <th class="text-center">Diagnóstico</th>
                            <th class="text-center">Pendências</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pedido in listaPedidos  | filter : search | orderBy: 'dataAdmissao'" ng-class="{ 'table-success' : pedido.tempo.dias < 1 && pedido.tempo.horas < 12, 
                                        'table-warning' : pedido.tempo.dias < 1 && pedido.tempo.horas >= 12,
                                        'table-danger'  : pedido.tempo.dias >= 1 }">
                            <td title="{{pedido.ala.nomeAla}}">{{pedido.ala.nomeAla}}</td>
                            <td class="text-center" title="{{pedido.medico}}">{{pedido.medico}}</td>
                            <td class="text-center" title="{{pedido.residente}}">{{pedido.residente}}</td>
                            <td class="text-center" title="{{pedido.previsaoAlta | date: 'dd/MM/yy'}}">{{pedido.previsaoAlta | date: "dd/MM/yy"}}</td>
                            <td class="text-center" title="{{pedido.leito}}">{{pedido.leito}}</td>
                            <td class="text-center" title="{{pedido.paciente.numProntuario}}">{{pedido.paciente.numProntuario | limitTo: 10}}</td>
                            <td class="text-center" title="{{pedido.paciente.nomePaciente}}">{{pedido.paciente.nomePaciente}}</td>
                            <td class="text-center" title="{{pedido.paciente.dataNascimento | date: 'dd/MM/yy'}}">{{pedido.paciente.dataNascimento | date: "dd/MM/yy"}}</td>
                            <td class="text-center" title="{{pedido.paciente.idade}}">{{pedido.paciente.idade}}</td>
                            <td class="text-center" title="{{pedido.paciente.sexo}}">{{pedido.paciente.sexo}}</td>
                            <td class="text-center" title="{{pedido.dataAdmissao | date: 'dd/MM/yy HH:mm'}}">{{pedido.dataAdmissao | date: "dd/MM/yy HH:mm"}}</td>
                            <td class="text-center" title="{{pedido.tempo.dias + ' dia(s) ' + pedido.tempo.horas + 'h ' + pedido.tempo.minutos + 'min'}}">
                                {{pedido.tempo.dias + ' dia(s) ' + pedido.tempo.horas + 'h ' + pedido.tempo.minutos + 'min'}}</td>
                            <td title="{{pedido.diagnostico.descricaoDiagnostico}}">{{pedido.diagnostico.descricaoDiagnostico}}</td>
                            <td title="{{pedido.pendencias}}">{{pedido.pendencias}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>